{% load static %}
<div id="formDiv">
  <form data-hx-post="{% url 'create_shortcode' %}"
    data-hx-target="#formDiv"
    data-hx-swap="outerHTML">
    <div>
      {{ form }}
      <button type="submit">
        Mubofy

      </button>
      <img class="htmx-indicator" src="{% static 'img/bars.svg' %}">
    </div>
  </form>
</div>
<!-- hx-swap-oob will replace the `#the-taget` element if this is sent from the server side to the DOM. Amazing! -->
{% if code and not form.errors %}<div hx-swap-oob="innerHTML:#the-target"><a href="https://mubo.me/{{code}}">https://mubo.me{{ code }}</a></div>{% endif %}
